In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,city,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2020-10-06 17:39:34,62.46,-114.35,44.60,93,90,13.87
1,1,Kruisfontein,ZA,2020-10-06 17:42:18,-34.00,24.73,60.01,88,0,3.58
2,2,Norman Wells,CA,2020-10-06 17:42:18,65.28,-126.83,39.20,86,75,14.99
3,3,Hermanus,ZA,2020-10-06 17:42:18,-34.42,19.23,64.00,78,2,1.01
4,4,Isangel,VU,2020-10-06 17:42:18,-19.55,169.27,71.17,82,49,7.20

In [3]:
#To use gmaps the data to use must be either integer or float
city_data_df.dtypes

City_ID         int64
city           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key='AIzaSyDKL1dOmbGtyyJ3JOouK73dFfy1vUU988g')

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300,
                                point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# or 
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,city,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Sur,OM,2020-10-06 17:42:19,22.57,59.53,80.47,58,46,8.01
8,8,Hilo,US,2020-10-06 17:40:01,19.73,-155.09,77.00,73,1,6.93
16,16,Ipixuna,BR,2020-10-06 17:42:21,-1.76,-48.80,84.20,74,40,6.93
18,18,Atuona,PF,2020-10-06 17:42:22,-9.80,-139.03,77.77,76,19,18.03
27,27,Kapaa,US,2020-10-06 17:41:31,22.08,-159.32,78.80,83,75,5.82
32,32,Tukrah,LY,2020-10-06 17:42:24,32.53,20.58,82.17,45,99,9.64
41,41,Grand-Lahou,CI,2020-10-06 17:42:26,5.14,-5.02,77.23,87,94,11.14
43,43,Erzin,TR,2020-10-06 17:42:26,36.96,36.20,82.99,54,0,3.00
44,44,Victoria,HK,2020-10-06 17:37:51,22.29,114.16,78.01,74,62,1.01
45,45,Birao,CF,2020-10-06 17:42:26,10.28,22.79,76.59,78,4,3.91

In [12]:
preferred_cities = preferred_cities_df.dropna()

In [13]:
preferred_cities

,City_ID,city,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Sur,OM,2020-10-06 17:42:19,22.57,59.53,80.47,58,46,8.01
8,8,Hilo,US,2020-10-06 17:40:01,19.73,-155.09,77.00,73,1,6.93
16,16,Ipixuna,BR,2020-10-06 17:42:21,-1.76,-48.80,84.20,74,40,6.93
18,18,Atuona,PF,2020-10-06 17:42:22,-9.80,-139.03,77.77,76,19,18.03
27,27,Kapaa,US,2020-10-06 17:41:31,22.08,-159.32,78.80,83,75,5.82
...,...,...,...,...,...,...,...,...,...,...
562,562,Agnibilekrou,CI,2020-10-06 17:43:34,7.13,-3.20,75.65,93,65,1.05
563,563,Tenkodogo,BF,2020-10-06 17:43:34,11.78,-0.37,88.70,49,19,9.62
564,564,Manono,CD,2020-10-06 17:43:34,-7.30,27.42,81.14,45,3,3.80
565,565,Tabou,CI,2020-10-06 17:43:35,4.42,-7.35,78.33,83,88,8.88
570,570,Nouakchott,MR,2020-10-06 17:42:20,18.09,-15.98,87.80,55,40,16.11

In [14]:
hotel_df = preferred_cities[["city", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           city Country  Max Temp    Lat     Lng Hotel Name
6           Sur      OM     80.47  22.57   59.53
8          Hilo      US     77.00  19.73 -155.09
16      Ipixuna      BR     84.20  -1.76  -48.80
18       Atuona      PF     77.77  -9.80 -139.03
27        Kapaa      US     78.80  22.08 -159.32
32       Tukrah      LY     82.17  32.53   20.58
41  Grand-Lahou      CI     77.23   5.14   -5.02
43        Erzin      TR     82.99  36.96   36.20
44     Victoria      HK     78.01  22.29  114.16
45        Birao      CF     76.59  10.28   22.79

In [18]:
# Set parameter to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ˚F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))