## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mar Del Plata,AR,-38.00,-57.56,60.80,48,40,13.87,scattered clouds
1,1,Presidencia Roque Saenz Pena,AR,-26.79,-60.44,74.95,46,96,11.30,overcast clouds
2,2,New Norfolk,AU,-42.78,147.06,53.01,93,100,3.27,light rain
3,3,Denpasar,ID,-8.65,115.22,80.60,100,40,10.29,light rain
4,4,Namatanai,PG,-3.67,152.43,80.15,81,100,8.95,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Denpasar,ID,-8.65,115.22,80.60,100,40,10.29,light rain
4,4,Namatanai,PG,-3.67,152.43,80.15,81,100,8.95,moderate rain
6,6,Emerald,AU,-23.53,148.17,77.00,22,13,11.41,light rain
8,8,Pemangkat,ID,1.17,108.97,80.13,80,100,6.49,overcast clouds
12,12,Bambous Virieux,MU,-20.34,57.76,75.99,83,40,5.82,scattered clouds
13,13,Trairi,BR,-3.28,-39.27,87.28,55,7,14.00,clear sky
15,15,Manggar,ID,-2.88,108.27,81.10,81,100,7.87,moderate rain
20,20,Bengkulu,ID,-3.80,102.27,76.32,83,100,3.87,light rain
22,22,San Patricio,US,28.02,-97.52,84.00,78,75,14.99,broken clouds
23,23,Villamaria,CO,5.04,-75.51,77.00,69,40,9.17,scattered clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Denpasar,ID,80.60,light rain,-8.65,115.22,
4,Namatanai,PG,80.15,moderate rain,-3.67,152.43,
6,Emerald,AU,77.00,light rain,-23.53,148.17,
8,Pemangkat,ID,80.13,overcast clouds,1.17,108.97,
12,Bambous Virieux,MU,75.99,scattered clouds,-20.34,57.76,
13,Trairi,BR,87.28,clear sky,-3.28,-39.27,
15,Manggar,ID,81.10,moderate rain,-2.88,108.27,
20,Bengkulu,ID,76.32,light rain,-3.80,102.27,
22,San Patricio,US,84.00,broken clouds,28.02,-97.52,
23,Villamaria,CO,77.00,scattered clouds,5.04,-75.51,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params=params)
    #print(response.url)
    hotels = response.json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [35]:
hotel_df['Hotel Name'].replace("", np.nan, inplace=True)

In [36]:
hotel_df.isnull().sum()

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             14
dtype: int64

In [37]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [38]:

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Denpasar,ID,80.60,light rain,-8.65,115.22,ASTON Denpasar Hotel & Convention Center
4,Namatanai,PG,80.15,moderate rain,-3.67,152.43,Namatanai Hotel
6,Emerald,AU,77.00,light rain,-23.53,148.17,The Irish Village
8,Pemangkat,ID,80.13,overcast clouds,1.17,108.97,Kost H.Syamsuddin
12,Bambous Virieux,MU,75.99,scattered clouds,-20.34,57.76,Casa Tia Villa
13,Trairi,BR,87.28,clear sky,-3.28,-39.27,Pousada Field Lilies - Trairi
15,Manggar,ID,81.10,moderate rain,-2.88,108.27,Guest Hotel
20,Bengkulu,ID,76.32,light rain,-3.80,102.27,Grage Hotel Bengkulu
22,San Patricio,US,84.00,broken clouds,28.02,-97.52,"Motel 6 Sinton, TX"
23,Villamaria,CO,77.00,scattered clouds,5.04,-75.51,Hotel Estelar El Cable

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ˚F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))